@model Zipper.Models.NameSource
@using GridMvc.Html

@{
    ViewBag.Title = "View";
}

<h2>Names used in searches</h2>

<div style="width:80%">
    @Html.Grid(Model.Names).Columns(columns =>
                    {
                        columns.Add(c => c.Value).Titled("Name");
                        columns.Add(c => c.Lang).Titled("Language").Filterable(true);
                        columns.Add(c => c.Type).Titled("Type");
                        columns.Add().Encoded(false)
                       .Sanitized(false).SetWidth(30).RenderValueAs(c => @Html.ActionLink("Remove", "Remove", new { id = c._id }, new { @class = "deletelink" }));
                    }).WithPaging(30).Sortable(true)
</div>

<div id="deletedialog" title="Confirmation">
    <p>Are you sure you want to delete this name?</p>
</div>	

<script>
    $(document).ready(function () {

        $('.deletelink').click(function () {
            deleteLinkObj = $(this);  //for future use to hide after the delete operation.
            $('#deletedialog').dialog('open');
            return false; // prevents the default behaviour
        });

        $('#deletedialog').dialog({
            autoOpen: false, width: 400, resizable: false, modal: true, 
            buttons: {
                "Continue": function () {
                   $.post(deleteLinkObj[0].href, function () {  //Post to action
                     
                       deleteLinkObj.closest("tr").hide('fast'); //hide the deleted row.

                   });
                    $(this).dialog("close");
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        
    });
</script>
