@model IEnumerable<Zipper.Models.WPerson>

@{
    ViewBag.Title = "Resultados";
}

<h2>Territorio de Censo - @ViewBag.Zipcode </h2>


<table>
    <tr>
        <th>
            Nome
        </th>
        <th>
           Endereço
        </th>
        <th>
           Número
        </th>
        <th>
          Fala Portuguese?
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td></td>
    </tr>
}
</table>
